@use "../../../styles/variables" as *;

.heroWrapper {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: $brown;
  .hero {
    min-height: 100vh;
    position: relative;
    max-width: $content-max-width;
    margin-inline: auto;
    width: 100%;
    background-color: $brown;

    .backgroundElements {
      @include absolute-overlay;

      .decorativeImageWrapper:nth-child(1) {
        height: 50%;
        top: 20%;
        background-color: blue;
        @include grid-span(3, 1);
        position: absolute;
        right: 0;

        @include md {
          @include grid-span(4, 1);
        }

        @include lg {
          @include grid-span(7);
          margin-right: $grid-desktop-margin;
        }
      }

      .decorativeImageWrapper:nth-child(2) {
        background-color: blue;
        @include grid-span(3);
        height: 32vh;
        position: absolute;
        bottom: -173px;
        left: var(--grid-margin);
        z-index: 2;

        @include lg {
          @include grid-span(3);
          height: 45vh;
          bottom: -130px;
        }
      }
    }

    .foregroundElements {
      @include absolute-overlay;
      @include grid-container(
        $grid-mobile-cols,
        $grid-mobile-margin,
        $grid-mobile-gutter
      );

      @include md {
        @include grid-container(
          $grid-tablet-cols,
          $grid-tablet-margin,
          $grid-tablet-gutter
        );
      }

      @include lg {
        @include grid-container(
          $grid-desktop-cols,
          $grid-desktop-margin,
          $grid-desktop-gutter
        );
      }

      .headingWrapper {
        grid-column: span $grid-mobile-cols;
      }
    }
  }
}
