@use "../../../styles/variables" as *;

.listingGrid {
  background-color: $purple-600;
  gap: $spacing-md;
  padding: $spacing-lg;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: $white;

  @include md {
    grid-template-columns: repeat(4, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(5, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: $radius;
    }

    .title {
      font-weight: 600;
    }
  }
}
