@use "./styles/variables" as *;

/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root,
#__next {
  isolation: isolate;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
}

// reset for form elements
input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
  border: $border-bright;
  border-radius: $radius;
  padding: $spacing-md;
  color: $white;

  &::placeholder {
    color: $brown;
  }
}

textarea {
  height: 150px;
}

select {
  appearance: auto;
}

select option {
  color: $white;
  background-color: $brown;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Glory", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: $font-xl;
  letter-spacing: -4px;
  color: $green;

  @include md {
    font-size: $font-2xl;
  }

  @include lg {
    font-size: $font-3xl;
  }
}

h2 {
  font-size: $font-lg;
  font-weight: 400;

  @include md {
    font-size: $font-xl;
  }
}

h3 {
  font-size: $font-md;
  font-weight: 400;
}

h4 {
  font-size: $font-md;
  line-height: $font-sm;

  @include md {
    font-size: $font-lg;
    line-height: $font-md;
  }
}

h1,
h4 {
  font-weight: 400;
}

:root {
  --grid-cols: #{$grid-mobile-cols};
  --grid-margin: #{$grid-mobile-margin};
  --grid-gutter: #{$grid-mobile-gutter};
  --grid-max-width: #{$content-max-width};
}

@include lg {
  :root {
    --grid-cols: #{$grid-desktop-cols};
    --grid-margin: #{$grid-desktop-margin};
    --grid-gutter: #{$grid-desktop-gutter};
  }
}
